{% extends 'base.html' %}
{% load static %}

{% block title %}{{ top_title  }}{% endblock title %}

{# 导航框内容显示 #}
{% block hander_banner_title %}{{ top_title  }}{% endblock hander_banner_title %}


{% block body %}
{# 文章列表与侧边栏 #}
<div id="vmaig-main">
    <div id="vmaig-content" class="container">
        <div class="container">
            {# 左边 #}
            <div id="vmaig-content" class="col-md-8 ">
                <div class="well-lg">
                    <div id="all-post-list">
                        {# 文章列表 #}
                        {% for article in articles_page %}
                        <div class="all-post clearfix underline">
                            <div class="post-title clearfix">
                                {# 文章类型 #}
                                <a href="{% url 'public:index' %}?article_type={{ article.category.id }} ">
                                    <div class="pre-cat">
                                        <div class="pre-catinner btn">
                                            {{ article.category }}
                                        </div>
                                        <div class="pre-catarrow">
                                        </div>
                                    </div>
                                </a>
                                {# 文章标题 #}
                                <h1><a href="{% url 'user:details' article.id %}">{{ article.title }}</a></h1>

                                <div class="post-tags" style="float:right">
                                    {% for tag in article.tags %}  {# 文章标签 #}
                                    <a href="{% url 'public:index' %}?article_tag={{ tag.id }}">
                                        <span class="label label-vmaig-{{ forloop.counter  }} btn">{{ tag }}</span>
                                    </a>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="post-content ">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <figure class="thumbnail">
                                            <a href="{% url 'user:details' article.id %}">
                                                {% if article.image %}
                                                    <img src="{{ article.image.url }}"  height="400" alt="">
                                                {% else %}
                                                    <img src="http://47.100.227.176:8888/group1/M00/00/01/rBAJdlyN03CAcMkoAAAljIO_yW05507120"  height="400" alt="">
                                                {% endif %}
                                            </a>
                                        </figure>
                                    </div>
                                    {# 文章内容介绍 #}
                                    <div  class="col-sm-8">
                                        {{ article.content | striptags | truncatechars:300 }}{# 内容 | 去html标签 | 最多显示字符数目 #}...
                                    </div>
                                </div>
                            </div>
                            <div class="post-info">
                                <span>
                                    <a href="#" class="glyphicon glyphicon-user">{{ article.user.username }}&nbsp;&nbsp;&nbsp;</a>
                                </span>
                                <span>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    {{ article.date_publish }}
                                </span>
                                <span>
                                    <span class="glyphicon glyphicon-comment"></span>
                                    {{ article.comment_count }}
                                </span>
                                <span>
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    {{ article.click_count }}
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# 右边 #}
            <div id="vmaig-side" class="col-md-4">



                {# 侧边工具栏 #}
                <div id="vmaig-auth-login">
                    <div class="panel ">
                        {# 侧边栏一个模块的标题 #}
                        <div class="panel-body">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-flag"></span>
                                热门文章
                            </h3>
                        </div>

                        <ul id="hotest-post-list" class="list-group collapse in">

                                {# 文章列表 #}
                                {% for hot_article in hot_articles %}
                                    <li class="list-group-item">
                                    <span class="hotest-post-title"><a href="{% url 'user:details' hot_article.id %}">{{ hot_article.title }}</a> </span>
                                    <span class="badge">{{ hot_article.click_count }}</span>
                                    </li>
                                {% endfor %}

                        </ul>

                    </div>
                </div>

                {# 显示评论模块 #}


            </div>
        </div>
    </div>
</div>

{# 分页 #}
<nav style="text-align: center" aria-label="Page navigation">
        <ul class="pagination pagination-lg">
            {% if articles_page.has_previous %}
            <li>
            <a href="{% url 'public:index'%}?article_type=0&page={{ articles_page.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            {% endif %}

            {% for page in pages %}
                {% if page == articles_page.number %}
                    <li class="active">
                      <span>{{ page }}<span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li><a href="{% url 'public:index'%}?article_type=0&page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if articles_page.has_next %}
            <li>
            <a href="{% url 'public:index' %}?article_type=0&page={{ articles_page.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
            {% endif %}
        </ul>
    </nav>


{% endblock body %}