{% extends 'base.html' %}
{% block title %}个人中心{% endblock title %}

{% block hander_banner_title %}{{ user.username }}{% endblock hander_banner_title %}
{% block hander_banner_desc %}{{ user.creed }}{% endblock hander_banner_desc %}
{% block hander_banner_email %}{{ user.email }}{% endblock hander_banner_email %}


{% block body %}
{# 用户中心 头 #}

    {# 文章兰 与 侧边栏 #}
    <div id="vmaig-content" class="container">
        <div class="">
            {# 左边 #}
            <div id="vmaig-content" class="col-md-8">

                    <div id="all-post-list">
                        {# 文章列表 #}
                        {% for article in articles_page %}
                        <div class="home-post  clearfix">
                            <div class="post-title underline clearfix">
                                <a href="/search">
                                    <div class="pre-cat">
                                        <div class="pre-catinner btn">
                                            {{ article.category }}{# 文章类型 #}
                                        </div>
                                        <div class="pre-catarrow">
                                        </div>
                                    </div>
                                </a>
                                <h1>
                                    <a href="{% url 'user:details' article.id %}">{{ article.title }}</a>
                                </h1>
                                <div class="post-info">
                                    <span>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        {{ article.date_publish }}{# 发布日期 #}
                                    </span>
                                    <span>
                                        <span class="glyphicon glyphicon-comment"></span>
                                        {{ article.comment_count }}{# 评论数目 #}
                                    </span>
                                    <span>
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        {{ article.click_count }}{# 浏览数目 #}
                                    </span>
                                    {# 标签 还有问题 #}
                                    <div class="post-tags">
                                        {% for tag in article.tags %}
                                        <a href="{% url 'public:index' %}" class=" ">
                                            <span class="label label-vmaig-{{ forloop.counter }}{# 记录迭代次数 #} btn">{{ tag }}</span>
                                        </a>
                                        {% endfor %}

                                        <a class="visible-xs-inline-block">
                                            <span class="label label-vmaig-2 btn ">...</span>
                                        </a>

                                    </div>

                                </div>
                            </div>
                            <div class="post-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <figure class="thumbnail">
                                            <a href="{% url 'user:details' article.id %}">
                                                {% if article.image %}
                                                <img src="{{ article.image.url }}"  height="400" alt="">
                                                {% else %}
                                                <img src="/static/tx/fengmian.jpg"  height="400" alt="">
                                                {% endif %}
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>

                                        <p>{{ article.content | striptags | truncatechars:260 }}{# 内容 | 去html标签 | 最多显示字符数目 #}

                                            ...

                                        </p>


                                        <a type="button" class="btn btn-success"  href="{% url 'user:details' article.id %}">阅读全文</a>
{#                                        <a type="button" class="btn btn-warning "  href="{% url 'user:details' article.id %}">修改文章</a>#}
{#                                        <a type="button" class="btn  btn-danger "  href="{% url 'user:details' article.id %}">删除文章</a>#}

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

            </div>

            {# 右边 #}
            <div id="vmaig-side" class="col-md-4">

                {# 写文章按钮 (需要当前登录用户是本文作者时，才会加载按钮) #}
                <div class="home-block">
                    <a name="input_write" class=" btn btn-info btn-lg btn-block" href="{% url 'user:write' %}" role="button">新建文章</a>
                </div>

                {# 侧边工具栏 #}
                <div id="vmaig-auth-login">
                    <div class="panel panel">
                        {# 侧边栏一个模块的标题 #}
                        <div class="panel-body">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-flag"></span>
                                热门文章
                            </h3>
                        </div>

                        <ul id="hotest-post-list" class="list-group collapse in">
                                {# 文章列表 #}
                                <li class="list-group-item">
                                    {% for hot_article in hot_articles %}
                                    <span class="hotest-post-title"><a href="{% url 'user:details' hot_article.id %}">{{ hot_article.title }}</a> </span>
                                    <span class="badge">{{ hot_article.click_count }}</span>
                                    {% endfor %}
                                </li>
                        </ul>
                    </div>
                </div>

                {# 显示评论模块 #}
                <div id="vmaig-latest-comments">
                    <div class="panel ">
                        {# 评论模块的头 #}
                        <div class="panel-body">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-comment"></span>
                                最新评论
                            </h3>
                        </div>
                        {# 评论内容的列表 #}
                        <ul id="latest-comment-list" class="list-group collapse in">

                            <li class="list-group-item ">
                                {% for new_comment in new_comments %}
                                    {# 头像 #}
                                    <div class="comment-tx">
                                        <img src="{{ new_comment.avatar }}" width="35" height="35" alt="">
                                    </div>
                                    {# 评论体 #}
                                    <div class="comment-info">
                                        <div class="comment-username">
                                            <a href="#">{{ new_comment.username }} </a> 的评论:
                                        </div>
                                        <div class="comment-content">
                                            <a href="{% url 'user:details' new_comment.article.id %}">

                                                {{ new_comment.content | striptags }}

                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {# 分页 #}
    <nav style="text-align: center" aria-label="Page navigation">
        <ul class="pagination pagination-lg">
            {% if articles_page.has_previous %}
            <li>
            <a href="{% url 'user:center' %}?article_type=0&page=articles_page.previous_page_number" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            {% endif %}

            {% for page in pages %}
                {% if page == articles_page.number %}
                    <li class="active">
                      <span>{{ page }}<span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li><a href="{% url 'user:center'%}?article_type=0&page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if articles_page.has_next %}
            <li>
            <a href="{% url 'user:center'%}?article_type=0&page=articles_page.next_page_number" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
            {% endif %}
        </ul>
    </nav>

{% endblock body %}

{#网页底部引入文件块#}
{% block bottomfiles %}
    <script type="text/javascript">
        {# 新建博客按钮 #}
        $("a[name='input_write']").click(function () {
            {#alert('成功了马')#}

            $.post('/user/center', function (data) {
                if (data.res == 0){
                    // 成功了，则跳转到写博客的页面
                }
                else {
                    // 失败打印出失败的信息
                    alert(data.errmsg)
                }
            })
        })
    </script>
{% endblock bottomfiles %}



