{% extends 'base.html' %}
{% block title %}个人中心{% endblock title %}

{% block body %}
{# 用户中心 头 #}
<div class="modal-header">
    <div class="container">
        <h1>{{ user.username }}</h1>
{#        <p>只为原创，发表<span class="hidden-xs">个人原创</span>高质量的技术博客</p>#}
{#         <p>杨仕航的博客</p>#}
    </div>
</div>

    {# 文章兰 与 侧边栏 #}
    <div id="vmaig-content" class="container">
        <div class="">
            {# 左边 #}
            <div id="vmaig-content" class="col-md-8">

                    <div id="all-post-list">
                        {# 文章列表 #}
                        {% for article in articles_page %}
                        <div class="home-post  clearfix">
                            <div class="post-title underline clearfix">
                                <a href="/category/django/">
                                    <div class="pre-cat">
                                        <div class="pre-catinner btn">
                                            {{ article.category }}{# 文章类型 #}
                                        </div>
                                        <div class="pre-catarrow">
                                        </div>
                                    </div>
                                </a>
                                <h1>
                                    <a href="{% url 'user:details' article.id %}">{{ article.title }}</a>
                                </h1>
                                <div class="post-info">
                                    <span>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        {{ article.date_publish }}{# 发布日期 #}
                                    </span>
                                    <span>
                                        <span class="glyphicon glyphicon-comment"></span>
                                        {{ article.comment_count }}{# 评论数目 #}
                                    </span>
                                    <span>
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        {{ article.click_count }}{# 浏览数目 #}
                                    </span>
                                    {# 标签 还有问题 #}
                                    <div class="post-tags">
                                        {% for tag in article.tags %}
                                        <a href="{% url 'public:index' %}" class=" ">
                                            <span class="label label-vmaig-{{ forloop.counter }}{# 记录迭代次数 #} btn">{{ tag.name }}</span>
                                        </a>
                                        {% endfor %}

                                        <a class="visible-xs-inline-block">
                                            <span class="label label-vmaig-2 btn ">...</span>
                                        </a>

                                    </div>

                                </div>
                            </div>
                            <div class="post-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <figure class="thumbnail">
                                            <a href="{% url 'user:details' article.id %}">
                                                {% if article.image %}
                                                <img src="{{ article.image.url }}"  height="300" alt="">
                                                {% else %}
                                                <img src="http://47.100.227.176:8888/group1/M00/00/01/rBAJdlyN03CAcMkoAAAljIO_yW05507120"  height="300" alt="">
                                                {% endif %}
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>

                                        <p>{{ article.desc }}

                                            ...

                                        </p>
                                        <a type="button" class="btn btn-vmaig pull-right hidden-xs"  href="{% url 'user:details' article.id %}">阅读全文</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

            </div>

            {# 右边 #}
            <div id="vmaig-side" class="col-md-4">

                {# 写文章按钮 #}
                <div class="home-block">
                    <a class=" btn btn-info btn-lg btn-block" href="{% url 'user:write' %}" role="button">新建文章</a>
                </div>
                {# 侧边工具栏 #}
                <div id="vmaig-auth-login">
                    <div class="panel panel">
                        {# 侧边栏一个模块的标题 #}
                        <div class="panel-body">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-flag"></span>
                                热门文章
                            </h3>
                        </div>

                        <ul id="hotest-post-list" class="list-group collapse in">
                                {# 文章列表 #}
                                <li class="list-group-item">
                                <span class="hotest-post-title"><a href="/article/vmaig_blog.html">本网站开源喽~~基于Django，Bootstrap</a> </span>
                                <span class="badge">13924</span>
                                </li>
                        </ul>
                    </div>
                </div>

                {# 显示评论模块 #}
                <div id="vmaig-latest-comments">
                    <div class="panel ">
                        {# 评论模块的头 #}
                        <div class="panel-body">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-comment"></span>
                                最新评论
                            </h3>
                        </div>
                        {# 评论内容的列表 #}
                        <ul id="latest-comment-list" class="list-group collapse in">

                            <li class="list-group-item clearfix">
                            {# 头像 #}
                            <div class="comment-tx">
                                <img src="/static/tx/default.jpg" width="40" height="40" alt="">
                            </div>
                            {# 评论体 #}
                            <div class="comment-info">
                                <div class="comment-username">
                                    <a href="#">nik 评论:</a>
                                </div>
                                <div class="comment-content">
                                    <a href="/article/PE_study_01.html">

                                        henhao


                                    </a>
                                </div>
                            </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {# 分页 #}
    <nav style="text-align: center" aria-label="Page navigation">
        <ul class="pagination pagination-lg">
            {% if articles_page.has_previous %}
            <li>
            <a href="{% url 'user:center' 0 articles_page.previous_page_number %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            {% endif %}

            {% for page in pages %}
                {% if page == articles_page.number %}
                    <li class="active">
                      <span>{{ page }}<span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li><a href="{% url 'user:center' 0 page %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if articles_page.has_next %}
            <li>
            <a href="{% url 'user:center' 0 articles_page.next_page_number %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
            {% endif %}
        </ul>
    </nav>


{% endblock body %}



